/vendor/
/node_modules/
composer.lock
package-lock.json
yarn.lock
.phpunit.result.cache
.phpunit.cache
.php_cs.cache
.php-cs-fixer.cache
.env
.env.backup
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
coverage/
.phpunit.result.cache
build/
*.sublime-project
*.sublime-workspace
_ide_helper.php
.phpstorm.meta.php